*.md~
*.Rmd~
*.csv~
*.bib~
*.html~
*.bak
*.log

# R and Rstudio specific files
.Ruserdata
.Rhistory
.Rproj.user
.Rdata
.httr-oauth

# don't push local rendered files in master branch
_book/
_bookdown_files/
libs/
**/*.bib
**/*.html
# ignore all html files except:
!**/mathjax_header.html

